{{yield}}

<!-- Begin Options Bar -->
    <div class="options">
      
      <!-- Filters -->
      <span>Filters: </span>
      <div class="filter {{if hideVeggies 'inactive'}}" {{action "toggleClass" "hideVeggies"}}>Vegetables</div>
      <div class="filter {{if hideFruit 'inactive'}}" {{action "toggleClass" "hideFruit"}}>Fruit</div>
      <div class="filter {{if hideHerbs 'inactive'}}" {{action "toggleClass" "hideHerbs"}}>Herbs</div>
      
      <!-- Month Select -->
      <select name="month" id="viewMonth" onchange={{action "changeMonth" value="target.value"}}>
        {{#each months as |month|}}        
           <option value={{month.value}}>{{month.name}}</option>      
        {{/each}} 
      </select>
      
    </div>
    <!-- End Options Bar -->
    
    <!-- Begin Displaying Results-->
    <div class="display">

          <!-- Begin Result Item -->
          {{#each produceResults as |item index|}}
              <div class="result" data-id={{index}} {{action "toggleSelectedItem" this index}}>
                  <p class="img">IMG</p>
                  <p class="title">{{item.name}}</p>
              </div>
          {{/each}}
          <!-- End Result Item -->
      
    </div>
    <!-- End Displaying Results -->

    <a class="btn" href="https://google.com/search?q={{searchQuery}}+recipes">Find Recipes on Google</a>